/*---------------------
 Banner Section
-----------------------*/
body {
  /* background: #f1f1f1; */
  background: #fff;
}
.category-name {
  text-shadow: 2px 2px #000;
  /* background: radial-gradient(gray, transparent); */
}

.category-name h2 {
  font-size: 2rem;
  background: rgba(200, 200, 200, 0.3);
}
.product-large {
  height: 350px;
  padding-top: 305px;
  margin: 1px;
}

.product-list {
  /* background: #eee; */
}
.product-item .pi-text .product-price {
  color: #f40181;
}
.product-item .pi-text {
  text-align: left;
}
.product-desc {
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 10px 0;
  border-top: 1px solid #eee;
  margin-top: 10px;
  min-height: 150px;
  max-height: 150px;
  overflow: auto;
}
.owl-carousel .active span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #f40181 !important;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.pi-text h5 {
  text-align: left;
}

.breadcrumb-text {
  padding-bottom: 5px;
  border: none;
}

.figure img {
  /* min-height:150px; */
  /* max-height:150px; */
  height: 150px;
  width: 100%;
  object-fit: cover;
  object-position: top center;
}

.figure figcaption {
  color: #991e25;
}

[data-toggle="collapse"] .fa:before {
  /* content: "\f139"; */
  content: "\f077";
}

[data-toggle="collapse"].collapsed .fa:before {
  /* content: "\f13a"; */
  content: "\f078";
}

.logo {
  padding: 20px 0;
}

.btn .badge {
  padding: 5px;
  font-size: 90%;
  background: #eee;
  /* color: white; */
  /* background: #ccc; */
}
.avatar {
  height: 35px;
  border: 1px solid #9a1e24;
}
