/*---------------------
 Banner Section
-----------------------*/
.product-large {
  height: 350px;
  padding-top: 250px;
  margin: 1px;
}

.product-list {
  background: #eee;
}
.product-item {
  /* border: 1px solid #ddd; */
  background: white;
}

.product-item .pi-pic img {
  height: 400px;
  object-fit: contain;
  object-position: center;
}

.owl-stage {
  padding-left: 0px !important;
}

.pi-pic img {
  /* border: 2px solid #f2c56d; */
  border: 1px solid #eee;
}
.pi-text {
  padding: 5px;
}

.pi-text h5 {
  text-align: left;
}
