{% load static %}
<!-- preloader section -->
<div id="preloder">
  <div class="loader"></div>
</div>
<!-- /preloader section -->
<header class="header-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div class="logo">
          <a href="/">
            <!-- <img
              src="https://res.cloudinary.com/hxjbk5wno/image/upload/v1596050234/output-onlinepngtools_hr6ncs.png"
              alt=""
            /> -->
            <img
              src="https://res.cloudinary.com/hxjbk5wno/image/upload/v1596572578/premiumlogo/onlinelogomaker-080520-0151-0885-2000-transparent_pj8qtf.png"
              alt=""
            />
            
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
