{% load static %}
<nav class="navbar navbar-expand-md" aria-hidden="true">
    <a class="navbar-brand" href="#">Navbar</a>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <button class="navbar-toggler d-none" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    alisha
  </a>
  <img
    src="https://res.cloudinary.com/hxjbk5wno/image/upload/v1597244926/ac521ef2-7b21-4a84-9972-6df8f44a9064-removebg-preview_d76dek.png"
    alt=""
    style="height: 40px;"
  />
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <!--<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    -->
  </div>
</nav>



<!--
<img
              src="https://res.cloudinary.com/hxjbk5wno/image/upload/v1597244926/ac521ef2-7b21-4a84-9972-6df8f44a9064-removebg-preview_d76dek.png"
              alt=""
              style="height: 40px;"
            /> -->