{% load static %}
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->   
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173007973-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-173007973-1');
  </script>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords"           content="Alisha, supermarket, ecommerce, shopping, cart">
  <meta name="viewport"           content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
  <meta name="description"        content="Alisha's super market!"/>
  <meta property="og:description" content="Alisha's super market!"/>
  <meta property="og:title"       content="Alisha's super market!"/>  
  <meta property="og:image"       content="https://res.cloudinary.com/hxjbk5wno/image/upload/v1596572579/premiumlogo/onlinelogomaker-080520-0151-0885-500_l1fv69.jpg"/>  
  <title>Alisha's super market</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@100;200;300;400;500;531;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
  <!-- Css Styles -->
  <!-- 
  <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'frontend/css/font-awesome.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'frontend/css/themify-icons.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'frontend/css/elegant-icons.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'frontend/css/owl.carousel.min.css' %}" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'frontend/css/nice-select.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'frontend/css/jquery-ui.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'frontend/css/slicknav.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'frontend/css/tiu.css' %}" type="text/css">
  -->
</head>
