{% load static %}
<!-- preloader section -->
<!-- <div id="preloder">
  <div class="loader"></div>
</div> -->
<!-- /preloader section -->
<header class="header-section">
  <div class="container-fluid">
    <div class="row" style="background: #f8f9fa;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div class="logo">
          <a href="/">
            <img
              src="https://res.cloudinary.com/hxjbk5wno/image/upload/v1597244926/ac521ef2-7b21-4a84-9972-6df8f44a9064-removebg-preview_d76dek.png"
              alt=""
              style="height: 60px;"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
