{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  {% include 'frontend/head.html' %}
  <body>
    {% include 'frontend/header_section.html' %}
    <!-- Banner Section Begin -->
    <section class="">
      <div class="container">
        <div class="row">
          {% for category in categories %}
            <div class="col-lg-4">  
              <a href="/products/{{category.name}}">
                <div class="product-large set-bg" data-setbg="{{category.image.url}}">
                  <div class="category-name"><h2>{{category.name}}</h2></div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- Banner Section End -->

    {% include 'frontend/footer.html' %} 
    {% include 'frontend/js_plugins.html' %}

  </body>

</html>