{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  {% include 'frontend/head.html' %}
  <body>
    {% include 'frontend/header_section.html' %}
    <section class="">
      <div class="container-fluid">
        <div class="row">
          {% for category in categories %}
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
              <a href="/products/{{category.name}}">
                <figure class="figure">
                  <img src="{{category.image.url}}" class="figure-img img-fluid rounded" alt="{{category.name}}">
                  <figcaption class="figure-caption text-center">{{category.name}}</figcaption>
                </figure> 
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    {% include 'frontend/footer.html' %} 
    {% include 'frontend/js_plugins.html' %}
  </body>
</html>