{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  {% include 'frontend/head.html' %}
  <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'frontend/css/tiu.css' %}" type="text/css">
  <body>
    {% include 'frontend/header_section.html' %}
    <section class="">
      <div class="container-fluid">
        <div class="row">
          {% for category in categories %}
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
              <a href="/{{category.name}}">
                <figure class="figure">
                  <!-- <img loading="lazy" src="{{category.image.url}}" class="figure-img img-fluid rounded" alt="{{category.name}}"> -->
                  <img data-src="{{category.image.url}}" class="lazyload figure-img img-fluid rounded" alt="{{category.name}}">
                  <figcaption class="figure-caption text-center">{{category.name}}</figcaption>
                </figure> 
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    {% include 'frontend/footer.html' %} 
    <script src="{% static 'frontend/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'frontend/js/main.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js"></script>

  </body>
</html>