<!DOCTYPE html>
<html>
  {% include 'frontend/head.html' %}  

  <body>
    {% include 'frontend/navbar.html' %} 
    <!-- <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="#">Home</a></li>
      </ol>
    </nav> -->
 
    <br />
    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <span id="categories-wrapper"></span>
          </div>
        </div>
      </div>
    </main>

    <script>
      var baseurl = window.location.origin;
      function fetchCategories() {
        var url = baseurl + "/api/categories/";
        var wrapper = document.getElementById("categories-wrapper");
        fetch(url)
          .then((resp) => resp.json())
          .then(function (categories) {
            console.log(categories);
            for (var index in categories) {
              var category = categories[index];
              var category_id = category.pk;
              var name = category.fields.name;
              var desc = category.fields.desc;
              var created_on = category.fields.created_on;
              var last_modified = category.fields.last_modified;
              var href = baseurl + `/products/${name}`;
              var item = `
              <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">${name}</h5>
                      <p class="card-text">
                        ${desc}
                        <!-- <br/>${category_id} -->
                        <!-- <br/>${name} -->
                        <!-- <br/>${desc} -->
                        <!-- <br/>${created_on} -->
                        <!-- <br/>${last_modified} -->
                      </p>
                      <a href="${href}" class="btn btn-primary">Explore collection</a>
                    </div>
                  </div>
                </div>
                <br>`;
              wrapper.innerHTML += item;
            }
          });
      }
    </script>

    <script type="text/javascript">
      $(document).ready(function () {
        fetchCategories();
      });
    </script>
  </body>
</html>
