{% extends "base.html" %}
{% load static %}

{% block content %}
  {{categories}}
  {% for category in categories %}
    {{category.id}}
    {{category.name}}
    {{category.desc}}
    {{category.created_on}}
    {{category.last_modified}}
    <hr> 
  {% endfor %}

  {% for product in products %}
    {{product.title}}
    {{product.description}}
    {{product.sku}}
    {{product.category_id}}
    {{product.category}}

    <img src="{{product.image.url}}">
    <hr> 
  {% endfor %}
{% endblock %}
