{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  {% include 'frontend/head.html' %}
  <body>
    {% include 'frontend/header_section.html' %}
    <div class="product-list">
      <div class="container">
        <div class="row">
        {% for subcategory, products in products_details.items %}
            {{subcategory}}<hr/>        
        </div>
        <div class="row">
            {% for product_id, details in products.items %}
          <div class="col-lg-4 col-sm-6">
            <div class="product-item bg-white shadow">
              <div class="pi-pic">
                <div class="owl-carousel owl-theme">
                  {% for image in details.images %}
                  <img src="{{image}}" alt="" />
                  {% endfor %}
                </div>
              </div>
              <div class="pi-text">
                <div class="product-price">
                  {{details.title}}
                </div>
                <div class="product-desc text-muted">
                  {{details.description|linebreaksbr}}
                </div>
              </div>
            </div>
          </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>

    {% include 'frontend/footer.html' %} 
    {% include 'frontend/js_plugins.html' %}

    <script>
      $(function () {
        $(".owl-carousel").owlCarousel({
          margin: 10,
          loop: false,
          items: 1,
          // stagePadding: 30
        });
      });
    </script>
  </body>
</html>
