{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include 'frontend/head.html' %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'frontend/css/tiu.css' %}" type="text/css">
  <body>
    {% include 'frontend/header_section.html' %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/{{categoryname}}">{{categoryname}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{subcategoryname}}</li>
      </ol>
    </nav>
    <section class="">
      <div class="container-fluid mw-1000">
        <div class="row">
          {% for product_id, details in products_details.items %}
            <div class="col-lg-3 col-md-3 col-sm-4 col-6">
              <a href="/{{categoryname}}/{{subcategoryname}}/{{product_id}}">
                {% for image in details.images %}
                <figure class="figure">
                  <img data-src="{{image}}"  style="border:1px solid #eee" class="lazyload figure-img img-fluid rounded" alt="{{details.title}}">
                  <figcaption class="figure-caption text-center">{{details.title}}</figcaption>
                </figure> 
                {% endfor %}
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js"></script>
  </body>
</html>