{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  {% include 'frontend/head.html' %}
  <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'frontend/css/tiu.css' %}" type="text/css">
  <body>
    {% include 'frontend/header_section.html' %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{category_name}}</li>
      </ol>
    </nav>
    
    <section class="">
      <div class="container-fluid">
        <div class="row">
          {% for subcategory in subcategories %}
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
              <a href="{{category_name}}/{{subcategory.name}}">
                <figure class="figure">
                  <img data-src="{{subcategory.image.url}}" class="lazyload figure-img img-fluid rounded" alt="{{subcategory.name}}">
                  <figcaption class="figure-caption text-center">{{subcategory.name}}</figcaption>
                </figure> 
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    {% include 'frontend/footer.html' %} 
    <script src="{% static 'frontend/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'frontend/js/main.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js"></script>
  </body>
</html>