{% extends "base.html" %}
{% load static %}

{% block content %}
  {{categories}}
  {% for category in categories %}
    {{category.id}}
    {{category.name}}
    {{category.desc}}
    {{category.created_on}}
    {{category.last_modified}}
    <hr> 
  {% endfor %}

  {% for product in products %}
    {{product.product_title}}
    {{product.product_description}}
    {{product.product_sku}}
    {{product.product_category_id}}
    {{product.product_category}}

    <img src="{{product.product_image.url}}">
    <hr> 
  {% endfor %}
{% endblock %}
